textarea#bs3d_back_cover_text{
    width: 100%;
    padding: 5px 10px;
}
button#bs3d_front_cover_upload,
button#bs3d_back_cover_upload {
    margin-top: 5px;
}
.bs3d_shortcode {
    background-color: #71BBDE;
    color: #ffffff;
    padding: 8px 8px;
    text-align: center;
}
#poststuff .bs3d_shortcode h2 {
    color: #ffffff;
    text-align: center;
    margin-top: 0 !important;
    line-height: normal;
    border-bottom: 1px solid #fff;
    font-weight: 400;
    font-size: 1.5em;
    padding: 0 0 3px;
    letter-spacing: 1px;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}
.bs3d_shortcode textarea {
    text-align: center;
    padding: 4px 0px;
    resize: none;
}
.post-type-bs3d_sgenerator .wrap h1 a.page-title-action {
    background: #F66095;
    color: #fff;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.post-type-bs3d_sgenerator .wrap h1 a.page-title-action:hover {
    background: #DC4178;

}


/*Shortcodes Generator style*/
.bs3d-tabs-menu {
    margin-top: 30px;
    margin-bottom: 0;
    height: 39px;
    clear: both;
}

.bs3d-tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 8px;
    background-color: #e4e4e4;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
    margin-bottom: 0;
    padding: 4px 7px;
    font-weight: 700;
    font-size: 15px;
}

.bs3d-tabs-menu a:active, .bs3d-tabs-menu a:focus, .bs3d-tabs-menu .current a:active, .bs3d-tabs-menu .current a:focus {
    box-shadow: none;
}

.bs3d-tabs-menu li a {
    padding: 10px;
    color: #555;
    text-decoration: none;
}

.bs3d-tabs-menu li:hover {
    background-color: #fff;
    color: #464646;
}

.bs3d-tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.bs3d-tabs-menu .current a {
    color: #000;
}

.bs3d-tab {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    margin-bottom: 20px;
    width: auto;
}

.bs3d-tab-content {
    padding: 20px;
    display: none;
}
#bs3d-tab-1 {
    display: block;
}
.post-type-lcsp_sgenerator .wrap h1 a.page-title-action {
    background: #F66095;
    color: #ffffff;
    font-size: 14px;
}
.post-type-lcsp_sgenerator .wrap h1 a.page-title-action:hover {
    background: #DC4178;
    color: #ffffff;
}
.bs3d-checkbox-wrapper {
    margin-left: 24px;
    padding: 8px 10px;
    background: #F5F5F5;
    font-size: 13px;
}
.bs3d-checkbox-wrapper ul li {
    display: inline-block;
    padding: 0px 9px;
}
.bs3d-checkbox-wrapper ul li:first-child {
    padding-left: 0;
}

.bs3d-active {
    display: block!important;
}

.lfm.bs3d-active {
    display: inline-block!important;
}

#bs3d_book_by_id, #bs3d_book_by_author {
    margin-left: 26px;
    margin-bottom: 5px;
    width: 205px;
}

#bs3d_book_from_year {
    margin-left: 26px;
    margin-bottom: 5px;
}

#bs3d_book_from_month {
    margin-left: 26px;
    margin-bottom: 5px;
}

#bs3d_book_from_month_year {
    margin-left: 6px;
}

#bs3d-tab-4 h2 {
    font-size: 23px;
    font-weight: 400;
    padding: 9px 15px 4px 0;
    line-height: 29px;
    margin: 0;
}

#bs3d-tab-4 p {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 14px;
}
/*Style for book meta box*/
.cmb-row.cmb-type-radio {
    height: 61px;
}
#bs3d_show_book_author_meta .inside .cmb-row.cmb-type-colorpicker {
    height: 50px;
    padding: 20px 0px 0px;
    margin-bottom: 0;
}
p.bs3d-metabox-description {
    color: #aaa;
    font-style: italic;
    margin: -45px 79px;
}
p.bs3d-title-description {
    color: #aaa;
    font-style: italic;
    margin: -27px 115px;
}
.cmb-row.cmb-type-text-medium.bs3d-edit-text {
    min-height: 50px;
    padding: 15px 0 0;
}
.bs3d-edit-text input[type=text]{
    width: 100px;
}
input#bs3d_download_btn_link,
input#bs3d_author_name,
input#bs3d_front_cover,
input#bs3d_back_cover {
    width: 100%;
}
#bs3d-tab-3 h2 {
    font-size: 23px;
    font-weight: 400;
    padding: 9px 15px 4px 0;
    line-height: 29px;
    margin: 0;
}
#bs3d-tab-3 p {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 14px;
}

/*
style for custom columns
*/
th#title {
    width: 250px;
}
th#bs3d_shortcode_column {
    width: 220px;
}
th#bs3d_book_id{
    width: 60px;
}
td.bs3d_book_id.column-bs3d_book_id {
    text-align: center;
}

/*
Style for disabled tab
*/
.bs3d-disabled {
    opacity: 0.4 !important;
}